@mainBlue: #5282FF;
@mainBlack: #282828;
@mainRed: #FF6551;
@white: #FFFFFF;
@buttonBorder: #ECECEC;
@icon: #130F26;
@black: #000000;
@grey:#4A4A4A;
@yellow: #FFF2B7;
@skeleton: rgba(190, 190, 190, 0.2);
@adminstration: linear-gradient(101.24deg, rgba(72, 69, 223, 0.08) 0%, rgba(69, 121, 223, 0.08) 100%);
@newsBg: #FAF9FD;
@cardShadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
@directionTitle: #252B42;
@directionInfo: #737373;
@faqBorder: #CFD3D8;
@faqButton: #333333;