<div nz-row [nzGutter]="[0,40]">
    <ng-container *ngIf="isTable">
        <div nz-col nzSpan="24">
            <nz-table #basicTable nzTableLayout="fixed" [nzData]="docs" [nzLoading]="isLoading" [nzPageSize]="5">
                <thead>
                    <tr>
                        <th [nzWidth]="'5%'">№</th>
                        <th [nzWidth]="'200px'">{{'admin.tables.gallery.data' | translate}}</th>
                        <th>{{'admin.tables.news.title' | translate}}</th>
                        <th [nzWidth]="'140px'">{{'admin.tables.gallery.instruments' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.data}}</td>
                    <td>{{data.title}}</td>
                    <td>
                        <div nz-row [nzGutter]="10">
                            <div nz-col>
                                <button nz-button nzType="primary" [disabled]="isLoading" [title]="'admin.buttons.document' | translate" (click)="delete(data.id)">
                                    <span nz-icon nzType="file" nzTheme="outline"></span>
                                </button>
                            </div> 
                            <div nz-col>
                                <button nz-button nzType="primary" [disabled]="isLoading" [title]="'admin.buttons.delete' | translate" (click)="delete(data.id)">
                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </ng-container>
    <ng-container *ngIf="!isTable">
        <div nz-col nzSpan="6">
            <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]="true">
                <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    {{'admin.buttons.upload.photo' | translate}}
                </button>
            </nz-upload>
            <button
                nz-button
                [nzType]="'primary'"
                [nzLoading]="uploading"
                (click)="submit()"
                [disabled]="fileList.length === 0"
                style="margin-top: 16px"
            >
                <span *ngIf="uploading">{{'admin.buttons.upload.loading' | translate}}</span>
                <span *ngIf="!uploading"> {{'admin.buttons.download' | translate}}</span>
            </button>
        </div>
    </ng-container>
</div>
