@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';

.gallery{
    &__wrapper{
        padding: 128px 0;
        background-color: @yellow;
    }  
    
    &__container{
        max-width: 1312px;
        margin: 0 auto;
    }

    &__img{
        height: 100%;
        max-height: 680px;
        overflow: hidden;
        border-radius: 16px;
        background-color: @skeleton;
        cursor: pointer;

        img{
            pointer-events:none;
            object-fit: cover;
        }
    }
}
