<div class="gallery__wrapper">
    <div nz-row nzAlign="middle" [nzGutter]="[0,32]" class="gallery__container">
        <div nz-col nzSpan="24">
            <sili-title [title]="title | translate" (swipePrev)="swipePrev()" (swipeNext)="swipeNext()"></sili-title>
        </div>
        <div nz-col nzSpan="24">
            <ng-container *ngIf="!isLoading">
                <swiper #swiper [config]="config" class="gallery__swiper">
                    <ng-template swiperSlide *ngFor="let data of galleries">
                        <div class="gallery__img">
                            <img nz-image [nzSrc]="data.img" [nzFallback]="fallback" alt="news">
                        </div>
                    </ng-template>
                </swiper>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <sili-gallery-skeleton [counter]="3"></sili-gallery-skeleton>
            </ng-container>
        </div>
        <div nz-col nzSpan="24">
            <sili-more></sili-more>
        </div>
    </div>
</div>
