<div class="faq__wrapper">
    <div nz-row nzAlign="middle" [nzGutter]="[0,32]" class="faq__container">
        <div nz-col nzSpan="24">
            <sili-title [title]="title | translate" [isShow]="false"></sili-title>
        </div>
        <div nz-col nzSpan="24">
            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel
                    *ngFor="let data of faqs; let item = index"
                    [nzHeader]="item + 1 + '. ' + data.answer"
                    [nzActive]="false"
                    [nzShowArrow]="false"
                    [ngStyle]="customStyle"
                    
                >
                    <p class="faq__answer">
                        {{data.answer}}
                    </p>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
</div>
