<div nz-row [nzGutter]="[0,{xl:64,lg:32,md:32,sm:32,xs:32}]">
    <div nz-col nzSpan="24">
        <sili-page-container [title]="title" [photos]="{model_1: false,model_2: true,model_3:false,model_4: false}"></sili-page-container>
    </div>
    <ng-container *ngIf="!isEmpty">
        <div nz-col nzSpan="24">
            <div class="news__wrapper">
                <div nz-row [nzGutter]="[0,{xl:64,lg:32,md:32,sm:32,xs:32}]">
                    <div nz-col nzSpan="24">
                        <div class="news__container">
                            <sili-bread-crump [breadCrump]="breadCrump"></sili-bread-crump>
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <div class="news__container">
                            <div nz-row>
                                <div nz-col nzSpan="24">
                                    <div nz-row [nzGutter]="[0,{xl:64,lg:32,md:48,sm:48,xs:48}]">
                                        <div nz-col nzSpan="24" *ngFor="let data of paginatedList">
                                            <sili-advert [advert]="data"></sili-advert>
                                        </div>
                                        <ng-container *ngIf="isLoading">
                                            <div nz-col nzSpan="24">
                                                <sili-news-skeleton [counter]="5"></sili-news-skeleton>
                                            </div>           
                                        </ng-container>
                                        <div nz-col nzSpan="24" *ngIf="button">
                                            <sili-more (loadMore)="getData()"></sili-more>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isEmpty">
        <div nz-col nzSpan="24">
            <sili-empty></sili-empty>
        </div> 
    </ng-container>
</div>


