<div class="directions__wrapper">
    <div nz-row [nzGutter]="[0,64]">
        <div nz-col nzSpan="24">
            <sili-page-container [title]="title"></sili-page-container>
        </div>  
        <div nz-col nzSpan="24">
            <div class="directions__container">
                <sili-bread-crump [breadCrump]="breadCrump"></sili-bread-crump>
            </div>
        </div>
        <div nz-col nzSpan="24">
            <div class="directions__container">
                <div nz-row [nzGutter]="[24,24]">
                    <ng-container *ngIf="!isLoading">
                        <div nz-col nzSpan="8" *ngFor="let data of directions">
                            <sili-direction [direction]="data"></sili-direction>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isLoading">
                        <div nz-col nzSpan="24">
                            <sili-direction-skeleton [counter]="6"></sili-direction-skeleton>
                        </div>                  
                    </ng-container>
                </div>
            </div>
        </div>
    </div> 
</div>

