@import '../../styles/colors.less';
@import '../../styles/fonts.less';

.directions{
    &__wrapper{
        background: @docsBg;
    }
    &__container{
        max-width: 1312px;
        margin: 0 auto;
        padding-bottom: 120px;
    }
    &__card{
        padding: 24px;
        background: @white;
    }
}