<div nz-row [nzGutter]="[0,{xl:64,lg:32,md:32,sm:32,xs:32}]" [ngClass]="{bg: directions.length > 0}">
    <div nz-col nzSpan="24">
        <sili-page-container [title]="title" [photos]="{model_1: false,model_2: false,model_3:true,model_4:false}"></sili-page-container>
    </div>  
    <ng-container *ngIf="directions.length > 0">
        <div nz-col nzSpan="24">
            <div class="directions__wrapper bg">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div nz-row [nzGutter]="[0,{xl:64,lg:32,md:32,sm:32,xs:32}]">
                            <div nz-col nzSpan="24">
                                <div class="directions__container">
                                    <sili-bread-crump [breadCrump]="breadCrump"></sili-bread-crump>
                                </div>
                            </div>
                            <div nz-col nzSpan="24">
                                <div class="directions__container">
                                    <div nz-row [nzGutter]="[24,24]">
                                        <ng-container *ngIf="!isLoading">
                                            <div nz-col nzXl="8" nzLg="8" nzMd="12" nzSm="24" nzXs="24" *ngFor="let data of directions">
                                                <sili-direction [direction]="data" [isMain]="true"></sili-direction>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isLoading">
                                            <div nz-col nzXl="8" nzLg="8" nzMd="12" nzSm="24" nzXs="24" *ngFor="let data of [1,2,3,4,5,6]">
                                                <sili-direction-skeleton></sili-direction-skeleton>
                                            </div>                  
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>  
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="directions.length === 0">
        <div nz-col nzSpan="24">
            <sili-empty></sili-empty>
        </div> 
    </ng-container>
</div>



