<div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
        <h2 class="title">{{title | translate}}</h2>
    </div>
    <div nz-col *ngIf="isShow">
        <div nz-row [nzGutter]="[{xl:24,lg:24,md:24,sm:24,xs:16}]">
            <div nz-col>
                <button nz-button nzType="primary" class="button" (click)="this.swipePrev.emit();">
                    <span nz-icon nzType="arrow-left" nzTheme="outline" class="button__icon"></span>
                </button>
            </div>
            <div nz-col>
                <button nz-button nzType="primary" class="button" (click)="this.swipeNext.emit();">
                    <span nz-icon nzType="arrow-right" nzTheme="outline" class="button__icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>
