<div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
        <h2 class="title">{{title}}</h2>
    </div>
    <div nz-col>
        <div nz-row [nzGutter]="[24]">
            <div nz-col>
                <button nz-button nzType="primary" class="button" (click)="this.swipePrev.emit();">
                    <span nz-icon nzType="arrow-left" nzTheme="outline" class="button__icon"></span>
                </button>
            </div>
            <div nz-col>
                <button nz-button nzType="primary" class="button" (click)="this.swipeNext.emit();">
                    <span nz-icon nzType="arrow-right" nzTheme="outline" class="button__icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>
