<div class="adminstration__wrapper">
    <div class="adminstration__container">
        <div nz-row [nzGutter]="[0,32]">
            <div nz-col nzSpan="24">
                <sili-title [title]="title | translate" (swipePrev)="swipePrev()" (swipeNext)="swipeNext()"></sili-title>
            </div>
            <div nz-col nzSpan="24">
                <ng-container *ngIf="!isLoading">
                    <swiper #swiper [config]="config" class="adminstration__swiper">
                        <ng-template swiperSlide *ngFor="let data of administrations">
                            <sili-adminstration [administration]="data"></sili-adminstration>          
                        </ng-template>
                    </swiper>     
                </ng-container>
                <ng-container *ngIf="isLoading">
                    <sili-adminstration-skeleton [counter]="4"></sili-adminstration-skeleton>
                </ng-container>
            </div>
        </div>
    </div>
</div>
