<div nz-row>
    <div nz-col nzXs="0" nzLg="24">
        <nz-layout class="layout">
            <nz-sider>
                <button nz-button nzType="primary" class="exit" (click)="navigate()">
                    <span nz-icon nzType="export" nzTheme="outline"></span>
                    {{'admin.buttons.exit' | translate}} 
                </button>
                <ul nz-menu nzTheme="dark" nzMode="inline">
                    <li nz-menu-item [nzSelected]="data.id === 1" (click)="changePage(data.id)" *ngFor="let data of pages">
                        <span nz-icon [nzType]="data.icon"></span>
                        <span>{{data.name| translate}}</span>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout class="right-layout">
                <nz-content>
                    <div nz-row [nzGutter]="[0,20]">
                        <div nz-col nzSpan="24">
                            <div nz-row [nzGutter]="10" nzJustify="end">
                                <div nz-col>
                                    <button nz-button nzType="primary" [title]="'admin.buttons.add' | translate" class="button" (click)="handleTable()">
                                        <ng-container *ngIf="isTable">
                                            <span nz-icon nzType="plus" nzTheme="outline" class="icon"></span>
                                        </ng-container>
                                        <ng-container *ngIf="!isTable">
                                            <span nz-icon nzType="minus" nzTheme="outline" class="icon"></span>
                                        </ng-container>
                                    </button>
                                </div>
                                <div nz-col>
                                    <button nz-button nzType="primary" [title]="'admin.buttons.lang' | translate" class="button" (click)="changeLang()">
                                        <span nz-icon nzType="global" nzTheme="outline" class="icon"></span>
                                    </button>
                                </div>
                            </div>                 
                        </div> 
                        <div nz-col nzSpan="24">
                            <ng-container *ngIf="pages[0].isShow">
                                <sili-gallery [isTable]="isTable" [translateTexts]="translateTexts"></sili-gallery>
                            </ng-container>
                            <ng-container *ngIf="pages[1].isShow">
                                <sili-faq [isTable]="isTable" [translateTexts]="translateTexts"></sili-faq>
                            </ng-container>
                            <ng-container *ngIf="pages[2].isShow">
                                <sili-news [isTable]="isTable"  [translateTexts]="translateTexts"></sili-news>
                            </ng-container>
                            <ng-container *ngIf="pages[3].isShow">
                                <sili-info [isTable]="isTable"  [translateTexts]="translateTexts"></sili-info>
                            </ng-container>
                            <ng-container *ngIf="pages[4].isShow">
                                <sili-adminstration [isTable]="isTable"  [translateTexts]="translateTexts"></sili-adminstration>
                            </ng-container>
                            <ng-container *ngIf="pages[5].isShow">
                                <sili-teachers [isTable]="isTable"  [translateTexts]="translateTexts"></sili-teachers>
                            </ng-container>
                            <ng-container *ngIf="pages[6].isShow">
                                <sili-achievements [isTable]="isTable" [translateTexts]="translateTexts"></sili-achievements>
                            </ng-container>
                        </div>
                    </div>
                </nz-content>
            </nz-layout>
        </nz-layout>
    </div>
    <div nz-col nzXs="24" nzLg="0">
        <div class="window">
            <div nz-row nzAlign="middle" style="height: 100%;">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="[0,20]" nzJustify="center">
                        <div nz-col>
                            <img src="../../../assets/img/comp.png">
                        </div>
                        <div nz-col nzSpan="24">
                            <p class="window__text">{{'admin.upload.window' | translate}}</p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>

<div class="spin" *ngIf="isChangeLang">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
