<nz-layout class="layout">
    <nz-sider>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item [nzDisabled]="isLoading" [nzSelected]="data.id === 1" (click)="changePage(data.id)" *ngFor="let data of pages">
                <span nz-icon nzType="file"></span>
                <span>{{data.name| translate}}</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="right-layout">
        <nz-content>
            <div nz-row [nzGutter]="[0,40]">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="10" nzJustify="end">
                        <div nz-col>
                            <button nz-button nzType="primary" [disabled]="isLoading" [title]="'admin.buttons.add' | translate" class="button" (click)="handleTable()">
                                <ng-container *ngIf="isTable">
                                    <span nz-icon nzType="plus" nzTheme="outline" class="icon"></span>
                                </ng-container>
                                <ng-container *ngIf="!isTable">
                                    <span nz-icon nzType="minus" nzTheme="outline" class="icon"></span>
                                </ng-container>
                            </button>
                        </div>
                        <div nz-col>
                            <button nz-button nzType="primary" [disabled]="isLoading" [title]="'admin.buttons.reload' | translate" class="button" (click)="refresh()">
                                <span nz-icon nzType="reload" nzTheme="outline" class="icon"></span>
                            </button>
                        </div>
                        <div nz-col>
                            <button nz-button nzType="primary" [disabled]="isLoading" [title]="'admin.buttons.lang' | translate" class="button" (click)="changeLang()">
                                <span nz-icon nzType="global" nzTheme="outline" class="icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <ng-container *ngIf="pages[0].isShow">
                        <sili-gallery></sili-gallery>
                    </ng-container>
                    <ng-container *ngIf="pages[1].isShow">
                        <sili-faq [isTable]="isTable" [isLoading]="isLoading"  [translateTexts]="translateTexts" (refresh)="refresh()"></sili-faq>
                    </ng-container>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>