.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.button{
  width: auto;
  height: auto;
  padding: 5px 10px 2px 10px;
}

.icon{
    font-size: 20px;
    max-height: 20px;
}

[nzDisabled]{
  pointer-events: unset;
}

.exit{
  position: absolute;
  left: 12%;
  bottom: 5%;
}