@import '../../styles/colors.less';
@import '../../styles/fonts.less';

.header{
    &__wrapper{
        padding: 0 24px;
        background: @white;
        
        @media (max-width:575px) {
            padding: 0 16px;
        }
    }
    &__container{
        padding: 36px 0;
        max-width: 1312px;
        margin: 0 auto;

        @media (max-width:1199px) {
            padding: 20px 0;
        }
    }
    &__logo{
        width: auto;
        height: auto;
        padding: 0;
        background: inherit;
        box-shadow: none !important;
        border: none;
        .mainText(600,32px,41px,@mainBlue);
        cursor: pointer;

        @media (max-width:1199px) {
            font-size: 24px;
        }

        @media (max-width: 767px) {
            .mainText(900,24px,36px,@mainBlue);
        }
    }
    &__menu{
        transition: 0.3s;
        .mainText(600,16px,20px,@mainBlack);
        

        @media (max-width:1199px) {
            font-size: 14px;
        }

        &:hover{
            transition: 0.3s;
            color: @mainRed;
        }
        
        &-hover{
            cursor: pointer;
        }
    }

    &__phone{
        @media (max-width:1199px) {
            svg{
                width: 16px;
                height: 16px;
            }
        }
    }

    &__leftBlock{
        max-width: 800px;
    }

    &__button{
        display: flex;
        align-items: center;
        background: @mainRed;
        border: none;
        box-shadow: none;
        padding: 0 8px;
        .text(500,16px,20px,@white);

        &:hover{
            box-shadow: 0 8px 10px 0 rgba(122, 117, 117, 0.71);
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }


        @media (max-width:1199px) {
            font-size: 14px;
            padding: 6px;
        }

        @media (max-width:767px) {
            font-weight: 400;
            padding: 4px;
        }
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

[nz-menu]{
    padding: 0;
    position: relative;
    z-index: 3000;
}

[nz-menu-item]{
    text-align: center;
    padding: 0;
    .text(500,16px,20px,@mainBlack);

    &:hover{
        background: @adminstration;
    }
}

.hide{
    @media (max-width:767px) {
        display: none;
    }

    &__clock{
        @media (max-width:1199px) {
            display: none;
        }
    }
    &__phone{
        @media (max-width:991px) {
            display: none;
        }
    }
}

.adaptive{
    &__button{
        padding: 0;
        box-shadow: none;
        border: none;
        background: inherit;
        color: blue;
        max-height: 22px;
    }

    &__icon{
        font-size: 22px;
        max-height: 22px;
        color: @mainBlack;
    }

    &__burger{
        max-height: 22px;
        font-size: 22px;
        color: @mainBlack;
    }
}

.burger{
    position: fixed;
    padding: 64px 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: black;

    @media (min-width:992px) {
        display: none;
    }

    &__button{
        width: 100%;
        height: auto;
        padding: 10px 0;
        background: inherit;
        border: none;
        box-shadow: none;
        .text(600,24px,29px,@white);

        &:hover{
            color: @mainRed;
            cursor: pointer;
        }
    }
}

