<div class="news__wrapper">
    <div class="news__container">
        <div nz-row [nzGutter]="[0,{xl:32,lg:4,md:4,sm:4,xs:4}]">
            <div nz-col nzSpan="24">
                <sili-title [title]="title" (swipePrev)="swipePrev()" (swipeNext)="swipeNext()"></sili-title>
            </div>
            <div nz-col nzSpan="24">
                <ng-container *ngIf="!isLoading">
                    <swiper #swiper [config]="config" class="news__swiper">
                        <ng-template swiperSlide *ngFor="let data of adverts">
                            <sili-advert [advert]="data"></sili-advert>  
                        </ng-template>
                    </swiper>
                </ng-container>
                <ng-container *ngIf="isLoading">
                    <div class="news__swiper">
                        <sili-news-skeleton></sili-news-skeleton>
                    </div>        
                </ng-container>
            </div>
            <div nz-col nzSpan="24">
                <sili-more (loadMore)="navigate()"></sili-more>
            </div>
        </div>
    </div>
    
</div>