<div nz-row>
    <div nz-col nzSpan="24" class="teacher">
        <div nz-row [nzGutter]="[0,30]">
            <div nz-col nzSpan="24">
                <div class="teacher__img">
                    <img nz-image [nzSrc]="teacher.img" [nzFallback]="fallback" alt="teacher">
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-row [nzGutter]="[0,10]">
                    <div nz-col nzSpan="24">
                        <h1 class="teacher__name">{{teacher.name}}</h1>
                    </div>
                    <div nz-col nzSpan="24">
                        <h2 class="teacher__role">{{teacher.role}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>