@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';

.teacher{
    padding-bottom: 24px;
    background: @white;
    box-shadow: @cardShadow;
    
    &__img{
        height: 315px;
        background-color: @skeleton;
        overflow: hidden;

        img{
            pointer-events: none;
            object-fit: cover;
        }
    }

    &__name{
        text-align: center;
        text-transform: uppercase;
        padding: 0 16px;
        .mainText(700,24px,150%,@grey);

        @media (max-width:767px) {
            font-size: 20px;
        }
    }
    &__button{
        height: 40px;
        border: none;
        background: @mainRed;
        .mainText(400,14px,150%,@white);

        &:hover{
            box-shadow: 0 8px 10px 0 rgba(122, 117, 117, 0.71);
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }
}