<div class="table__wrapper">
    <div nz-row [nzGutter]="[0,80]">
        <div nz-col nzSpan="24">
            <sili-page-container [title]="title"></sili-page-container>
        </div>  
        <div nz-col nzSpan="24">
            <div class="table__container">
                <div nz-row [nzGutter]="[0,24]">
                    <div nz-col nzSpan="24" *ngFor="let data of teachers">
                        <div class="table__card">
                            <div nz-row nzAlign="middle" nzJustify="space-between">
                                <div nz-col>
                                    <h1 class="card__title">{{data.name}}</h1>
                                </div>
                                <div nz-col>
                                    <button nz-button nzType="primary" class="card__button">{{'time-table.button' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="isLoading">
                        <div nz-col nzSpan="24">
                            <sili-docs-skeleton [counter]="4"></sili-docs-skeleton>
                        </div>                  
                    </ng-container>
                </div>
            </div>
        </div>
    </div> 
</div>

