@import '../../../../styles/colors.less';
@import '../../../../styles/fonts.less';

.card{
    &__wrapper{
        padding: 0 24px 120px 24px;

        @media (max-width:991px) {
            padding: 0 24px 48px 24px;
        }

        @media (max-width:575px) {
            padding: 0 16px 48px 16px;
        }
    }
    &__container{
        max-width: 1312px;
        margin: 0 auto;
    }
}

.bg{
    background: @docsBg;
}

.direction{
    &__card{
        background: @white;
        box-shadow: @cardShadow;
        padding: 36px;
        transition: 0.3s;
        cursor: pointer;

        @media (max-width:1199px) {
            padding: 24px;
        }

        &:hover{
            transition: 0.3s;
            background: @directionHover;
        }
    }
    &__img{
        height: 310px;
        overflow: hidden;
        background: @skeleton;

        @media (max-width:767px) {
            height: 250px;
        }

        @media (max-width:575px) {
            height: 210px;
        }
        
        img{
            pointer-events: none;
            object-fit: cover;
        }
    }
    &__spacer{
        width: 50px;
        height: 2px;
        background: @mainRed;
    }
    &__title{
        letter-spacing: 0.1px;
        .text(700,24px,32px,@directionTitle);
    }
    &__info{
        .text(400,14px,20px,@directionInfo);
    }
}