@import '../../../../styles/colors.less';

.card{
    &__wrapper{
        padding: 64px 0 120px 0;
        background: @docsBg;
    }
    &__container{
        max-width: 1312px;
        margin: 0 auto;
    }
}