.sili{
    &__header{
        position: relative;
        z-index: 1000;
    }
    &__spin{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10000;
        pointer-events: unset;
        background: rgba(0, 0, 0, 0.70);
    }
}