<div *ngIf="isLoading" class="sili__spin">
  <nz-spin [nzIndicator]="spin"></nz-spin> 
</div>
<ng-template #spin>
  <sili-loading></sili-loading>
</ng-template>
<div class="sili__wrapper">
  <ng-container *ngIf="isDefaultPage">
    <header class="sili__header">
      <sili-header (changeStatus)="changeStatus()"></sili-header>
    </header>
  </ng-container>
  <!-- <main class="sili__main">
    <router-outlet></router-outlet>
  </main> 
  <ng-container *ngIf="isDefaultPage">
    <footer>
      <sili-footer></sili-footer>
    </footer>
  </ng-container> -->
</div>
