@import '../../../../styles/colors.less';
@import '../../../../styles/fonts.less';

.card{
    &__wrapper{
        padding: 0 24px 120px 24px;

        @media (max-width:991px) {
            padding: 0 24px 48px 24px;
        }

        @media (max-width:575px) {
            padding: 0 16px 48px 16px;
        }
    }
    &__container{
        max-width: 1312px;
        margin: 0 auto;
    }
    &__box{
        padding: 36px;
        background: @newsCardPageBg;

        @media (max-width:1199px) {
            padding: 24px;
        }
    }
    &__data{
        text-align: center;
        .text(500,20px,150%,@grey);

        @media (max-width:991px) {
            text-align: start;
            font-size: 16px;
        }
    }
    &__img{
        height: 400px;
        overflow: hidden;
        background-color: @skeleton;

        @media (max-width:1199px) {
            height: 350px;
        }

        @media (max-width:991px) {
            height: 264px;
        }

        @media (max-width:575px) {
            height: 220px;
        }

        @media (max-width:470px) {
            height: 190px;
        }

        img{
            object-fit: fill;
        }
    }
    &__thumb{
        width: 100%;
        height: auto;
    }
    &__title{
        text-align: center;
        .text(700,30px,150%,@grey);

        @media (max-width:991px) {
            text-align: start;
            font-size: 20px;
        }
    }

    &__info{
        text-align: center;
        .text(400,24px,36px,@grey);

        @media (max-width:991px) {
            text-align: start;
            font-size: 16px;
        }
    }
}

.thumb{
    &__box{
        width: 100%;
        height: 100px;
        background-color: @skeleton;
        transition: 0.3s;
        overflow: hidden;
        cursor: pointer;
    
        &:hover {
            transition: 0.3s;
            border-radius: 10px;
        }
    
        &:active {
            transform: scale(90%);
            transition: 0;
        }
        @media (max-width:991px) {
            height: 70px;
        }
    
        @media (max-width:850px) {
            height: 70px;
        }
    
        @media (max-width:575px) {
            height: 70px;
        }
    
        @media (max-width:450px) {
            height: 55px;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        pointer-events: none;
    }
}