<div class="notes">
    <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col *ngFor="let data of list">
            <div class="notes__box">
                <div class="note__1">
                &#9835; &#9833;
                </div>
                <div class="note__2">
                    &#9833;
                </div>
                <div class="note__3">
                    &#9839; &#9834;
                </div>
                <div class="note__4">
                    &#9834;
                </div>
            </div>
        </div>
    </div>
</div>