<div nz-row [nzGutter]="[{xl:24,lg:24,md:24,sm:16,xs:16},{xl:24,lg:24,md:24,sm:16,xs:16}]">
    <div nz-col [nzSpan]="span || 12" *ngFor="let data of skeleton">
        <ng-container *ngIf="isMain">
            <div class="skeleton__main">
                <nz-skeleton-element [nzActive]="true" nzType="button" [nzSize]="'default'"></nz-skeleton-element>  
            </div>
        </ng-container>
        <ng-container *ngIf="!isMain">
            <div class="skeleton__img">
                <nz-skeleton-element [nzActive]="true" nzType="button" [nzSize]="'default'"></nz-skeleton-element>  
            </div>
        </ng-container>
    </div>
</div>