@import '../../styles/colors.less';
@import '../../styles/fonts.less';

.button{
    width: 192px;
    height: 54px;   
    border: none;
    background-color: @mainRed;
    .text(600,16px,22px,@white);
}

