<div nz-row>
    <div nz-col nzSpan="24">
        <div nz-row [nzGutter]="[{xL:24,lg:24,md:16,sm:16,xs:16},10]">
            <div nz-col *ngFor="let data of breadCrump" class="bread">
                <div nz-row [nzGutter]="{xL:24,lg:24,md:16,sm:16,xs:16}" nzAlign="middle">
                    <div nz-col>
                        <div class="bread__title" (click)="navigate(data.path)">{{data.title | translate}}</div>
                    </div>
                    <div nz-col class="bread__svg">
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.18306 9.19194C0.938981 8.94786 0.938981 8.55214 1.18306 8.30806L4.49112 5L1.18306 1.69194C0.93898 1.44786 0.93898 1.05214 1.18306 0.808059C1.42714 0.56398 1.82286 0.56398 2.06694 0.808059L5.81694 4.55806C6.06102 4.80214 6.06102 5.19786 5.81694 5.44194L2.06694 9.19194C1.82286 9.43602 1.42714 9.43602 1.18306 9.19194Z" fill="#999999" stroke="#999999" stroke-width="0.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
